.projects_section h2 {
    margin-top: 0px;
}

.project_brief_label {
    color: #0C0299;
    background-color: rgba(255, 226, 79, 0.8);
    font-size: 12px;
    margin-right: 5px;
    padding: 5px;
    border-radius: 7px;
}

.projects_container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.project_card {
    width: 90%;
    margin: 10px auto;
    padding: 10px;
    font-size: 16px;
    background-color: rgb(240, 240, 240);
    border-radius: 7px;
}

.project_container {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.project_image {
    margin-right: 10px;
    width: 45%;
    height: 45%;
    flex: 1;
}

.project_brief {
    flex: 1;
}

.full_detail_btn {
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    /* font-weight: 700; */
    border-radius: 50px;
    background: linear-gradient(to right, #3C30E6, #8680e0);
    color: #FFE34F;
}

.full_detail_btn:hover {
    background: none;
    background-color: #3C30E6;
    color: #E6C930;
    box-shadow: 2px 2px 2px rgb(42, 42, 42);
}

.full_detail_btn:active {
    background-color: #0a027a;
    color: #fff;
}

@media all and (min-width: 750px) {
    .projects_container {
        flex-direction: row;
    }

    .project_card {
        /* width: 80%; */
        font-size: 18px;
    }

    .project_brief_label {
        font-size: 14px;
    }

}