.skills_container {
    background-image: url(../../images/skills_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 15px;
}

.section_header {
    margin-bottom: 0;
}

.skills_card {
    border: 1px solid #3C30E6;
    border-radius: 7px;
    margin: 20px;
    background: rgb(255, 255, 255);
}

h3 {
    width: 150px;
    font-weight: 300;
    font-size: 21px;
    margin: 15px;
    padding-bottom: 3px;
    border-bottom: 2px solid #E6C930;
    color: #0C0299;
}

.skills_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.skill {
    text-align: center;
    margin: 5px 10px;
}


/****** MEDIA QUERIES *******/
@media all and (min-width: 750px) {
    h3 {
        width: 20%;
    }
}