.contact_form {
    width: 70%;
    border: 1px solid #3C30E6;
    padding: 10px;
    margin: 20px;
    border-radius: 7px;
}

.require_label {
    font-size: 14px;
    color: rgb(102, 102, 102);
}

.contact_form,
.contact_form input,
.contact_form textarea,
.contact_form button {
    font-family: 'Open Sans', 'Roboto', sans-serif;
    font-size: 20px;
}

.contact_form input,
.contact_form textarea {
    padding: 3px;
    border-radius: 7px;
    width: 90%;
}

.contact_form label {
    display: block;
    margin-bottom: 2px;
    font-weight: 400;
}

.contact_form button {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    margin-top: 30px;
    border-radius: 50px;
    background: linear-gradient(to right, #3C30E6, #8680e0);
    color: #FFE34F;
    transition: all .2s;
}

.contact_form button:hover {
    background: linear-gradient(to right, #3C30E6, #3C30E6);
    color: #fcff52;
    box-shadow: 2px 2px 2px rgb(42, 42, 42);
    transform: translate(-2px, -2px);
}

.contact_form button:active {
    background-color: #0a027a;
    color: #fff;
    transform: translate(0, 0);
}

.success_message {
    color: green;
}

@media all and (min-width: 750px) {
    .contact_form {
        width: 300px;
    }
}