.close_project_btn {
    font-size: 30px;
}

.close_project_btn:hover {
    color: #3C30E6;
}

.details_container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 10px auto;
    padding: 30px;
    border: 1px solid #3C30E6;
    border-radius: 7px;
    box-shadow: 10px 10px 5px 1px rgba(0, 0, 0, 0.75);
    background-color: rgb(240, 240, 240);
}

.details h3 {
    width: 100%;
    font-weight: 400;
    margin-top: 30px;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project_appName {
    font-size: 24px;
    margin: 10px;
}

.details a,
.project_detail_linkIcon {
    text-decoration: none;
    font-size: 18px;
    margin: 10px;
}

.project_detail_linkIcon {
    margin: 0px 5px 0px 0px;
    color: black;
}

.details a:hover {
    border-bottom: 1px solid #998411;
}

.project_detail_header_icon {
    font-size: 30px;
    color: #000;
    margin-right: 15px;
}

.detail_img {
    width: 80%;
    margin: 5px;
}

.done_img_box,
.process_img_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.process_img_box p,
.done_img_box p {
    margin: 25px 0;
    color: #0C0299;
    background-color: rgba(255, 226, 79, 0.7);
    padding: 5px 15px;
    border-radius: 7px;
}

.project_detail_bottom_nav {
    margin: 30px auto;
}

.bottom_nav_icon {
    margin-right: 10px;
}

.to_top_btn {
    color: #0C0299;
}

.to_top_btn:hover {
    color: #3C30E6;
}

.project_detail_pipe {
    font-size: 30px;
    font-weight: 300;
    margin: 0 30px;
}

@media all and (min-width: 750px) {

    .done_img_box,
    .process_img_box {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .detail_img {
        margin: 10px;
    }
}