.section_header {
    width: 100%;
    font-weight: 300;
    font-size: 26px;
    background-color: #0C0299;
    color: #FFE34F;
    padding: 15px;
}

.sidebar {
    position: fixed;
    width: 100%;
    top: 0;
}


@media all and (min-width: 750px) {
    /*what goes here */
}