/*
*  Color Palette
*  dark brown:  #998411
*  yellow:  #FFE34F
*  gold caramel:  #E6C930
*  navy blue:  #0C0299
*  blue:  #3C30E6
*  nav_MyName:  font-family: 'Pacifico', cursive;
*/
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}